In [1]:
# Data handling
import pandas as pd
import numpy as np

# Bokeh libraries
from bokeh.io import output_file, output_notebook,curdoc
from bokeh.plotting import figure, show
from bokeh.models import ColumnDataSource, HoverTool, PanTool
from bokeh.layouts import row, column, gridplot
from bokeh.models.widgets import Tabs, Panel
from bokeh.plotting import figure

In [2]:
# Import data
df_can = pd.read_csv('immigrant.csv')

# Drop kolom yang tidak diperlukan
df_can.drop(['AREA', 'REG', 'DEV', 'Type', 'Coverage'], axis=1, inplace=True)

# Rename nama kolom
df_can.rename(columns={'OdName':'Country', 'AreaName':'Continent','RegName':'Region'}, inplace=True)

# Casting semua nama kolom menjadi bertipe string
df_can.columns = list(map(str, df_can.columns))

# Buat nama country menjadi index
df_can.set_index('Country', inplace=True)

# add total column
df_can['Total'] = df_can.sum(axis=1)

C:\Users\MSI\AppData\Local\Temp/ipykernel_21216/3749702051.py:17: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_can['Total'] = df_can.sum(axis=1)

In [3]:
df_can

,Unnamed: 0,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,1,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1223,856,702,560,716,561,539,620,603,15700
Algeria,2,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69441
American Samoa,3,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,9
Andorra,4,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,1,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Viet Nam,190,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,...,1852,3153,2574,1784,2171,1942,1723,1731,2112,97336
Western Sahara,191,Africa,Northern Africa,Developing regions,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,193
Yemen,192,Asia,Western Asia,Developing regions,1,2,1,6,0,18,...,161,140,122,133,128,211,160,174,217,3177
Zambia,193,Africa,Eastern Africa,Developing regions,11,17,11,7,16,9,...,91,77,71,64,60,102,69,46,59,1870
Zimbabwe,194,Africa,Eastern Africa,Developing regions,72,114,102,44,32,29,...,615,454,663,611,508,494,434,437,407,8792

In [4]:
years = list(map(str, range(1980, 2014)))
print('data dimensions:', df_can.shape)

data dimensions: (195, 39)

In [5]:
df_countries = df_can.loc[['Indonesia'],years].transpose()
df_ind = pd.DataFrame(df_countries.sum(axis=1))
df_ind.reset_index(inplace=True)
df_ind
df_ind.columns = ["Tahun", "Jumlah_Imigran"]
df_ind["Tahun"] = df_ind["Tahun"].astype(int)

In [6]:
source = ColumnDataSource(data={
    'Tahun'                : df_ind['Tahun'],
    'Jumlah_Imigran'       : df_ind['Jumlah_Imigran'],
})

In [9]:
a = figure(title='Jumlah Imigran Asal Indonesia Yang Menetap di Kanada',
                  plot_height=400,
                  plot_width= 700,
                  x_axis_label='Tahun',
                  y_axis_label='Jumlah Imigran')
a.toolbar.autohide = True
a.toolbar.logo = None

In [10]:
a.line(x='Tahun', y='Jumlah_Imigran', 
        color='blue', legend_label='Jumlah Imigran',
        source=source)
a.legend.location = 'top_left'

In [13]:
hov_appl = a.circle(x='Tahun', y='Jumlah_Imigran', source=source ,size=15, alpha=0, hover_fill_color='blue', hover_alpha=0.5)
tooltips = [
            ('Tahun', '@Tahun'),
            ('Jumlah Imigran', '@Jumlah_Imigran'),
           ]
a.add_tools(HoverTool(tooltips=tooltips, renderers=[hov_appl]))

a.add_tools(PanTool(dimensions='height'))

In [14]:
show(a)